@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
   background-color: rgb(34, 34, 34);
   background-size:cover;
   overflow: hidden;
   background-repeat: no-repeat;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	height: 100vh;
    width: 100%;
}
.bg{
   margin-top: 8%;
   background-size:cover;
   position: absolute;
   background-position: center;
   z-index: -1;
   width: 100%;
}


.cc {
   height: 6rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
   margin-right: 0;
   background-color: rgb(0, 0, 0);
  
}

li {
   color: white;
   font-size: 2rem;
   padding-left: 3rem;
   padding-right: 1%;
   margin-top: .5%;
}

a {
   text-decoration: none;
   color: white;
}
a:hover {
   color: goldenrod;
}

.profile-pic {
   margin-top: .3%;
   margin-right: 66%;
   justify-content: flex-start;
}
.profile-pic img{
   border-radius: 70%;
}
.box{
   border: solid rgb(34, 34, 34);
   padding: 30px;
   border-width: 2px;
   width: 60%;
   background-color: rgb(34, 34, 34);
   margin: auto;
}
.box1{
   border: solid rgb(255, 255, 255);
   padding: 30px;
   border-width: 2px;
   width: 60%;
   background-color: rgb(255, 255, 255);
   margin: auto;
}

p {
   color: rgb(255, 255, 255);
   margin-top: 1%;
   text-align: left;
   font-size: 2rem;
}

h1 {
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 3rem;
   overflow: hidden;
   white-space: nowrap;
}

.activities{
   margin-left: 15%;
   margin-top: 0%;

}
.activity:hover{
   background-color: rgb(34, 34, 34);
   box-shadow: 0 0 5px 1px rgb(32, 31, 31);
   color: black;
}
.activity{
   display:flex;
   border: solid white;
   background-color: white;
   width: 30%;
   height: 150px;
   margin-top: 3%;
   background-color: rgba(34, 34, 34, 0.7); 
   margin-left: 1%;
}
.activities h1{
   color: rgb(168, 148, 97);
   margin-left: 8%;
   margin-top: 12%;
}
h1:hover{
   color: rgb(255, 255, 255);
}
.activities p {
   color: white;
   margin-top: 1%;
   margin-left: 28%;
   margin-right: 15%;
   padding: 1%;
   text-align: justify;
   position:absolute;
   border: solid black;
   background-color: black;
}
/* Responsive adjustments */
/* For tablets (portrait orientation) */
@media screen and (max-width: 768px) and (max-width: 1024px){
   body {
      background-position: center;
        overflow: hidden;
        background-repeat: no-repeat;
   
   }
   .bg {
      margin-top: 60%;
      background-size:cover;
      background-position: center;
      z-index: -1;
      width: 100%;     
  }

   .profile-pic {
      margin-top: .0%;
      margin-right: auto;
      margin-left: 5%;
      width: 70px;
      height: 50px;
      border-radius: 150%;
      justify-content: flex-start;
  }
  .cc {
   height: 6rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
   margin-right: 3%;
   margin: 0;
}
.cc li{
   color: white;
   font-size: 1.5rem;
   padding-left: 3%;
   padding-right: 3%;
   margin-top: .5%;
}
   
   .box1 {
      border: solid rgb(255, 255, 255);
      padding: 30px;
      border-width: 2px;
      width: 100%;
      background-color: rgb(255, 255, 255);
      margin: auto;
  }
  .box {
      border: solid rgb(34, 34, 34);
      padding: 30px;
      border-width: 2px;
      width: 100%;
      background-color: rgb(34, 34, 34);
      margin: auto;
  }
  p {
   color: rgb(242, 255, 242);
   text-align: center;
   font-size: 2.5rem;
}

h1 {
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 2.5rem;
   overflow: hidden;
   white-space: nowrap;
}

   .activities {
      margin-left: 10%;
      margin-top: 20%;
      padding-top: 3%;
/* Set the container as relative for absolute positioning */
  }
   .activity:hover{
      background-color: rgb(34, 34, 34);
      box-shadow: 0 0 5px 1px rgb(32, 31, 31);
      color: black;
   }
   .activity{
      border: solid white;
      background-color: white;
      width: 90%;
      height: 150px;
      margin-top: 3%;
      background-color: rgba(34, 34, 34, 0.7); 
      margin-left: 1%;
      position: relative;
   }
   .activities h1{
      color: rgb(168, 148, 97);
      margin-left: 8%;
      margin-top: 12%;
      font-size:2rem;
   }
   .activity p {
      display: none; /* Hide p elements initially */
  }
   .activities p {
      color: white;
      margin-top: 1%;
      margin-left: 0; 
      margin-right: 15%;
      padding: 4%;
      text-align: justify;
      position: absolute;
      bottom: -1px; /* Adjust the position as needed */
      left: 0; /* Align with the left of the container */
      width: 100%; /* Full width */
      border: solid black;
      background-color: black;
   }
   .activity:hover p {
      display: block; /* Show p element when activity is hovered */
      font-size: 2rem;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .activities {
       margin-left: 5%;
       margin-top: 3%;
   }
}
